@media (min-width: 319px) and (max-width: 576px) {
  .container {
    grid-template-rows: repeat(10, 20px);
    grid-template-columns: repeat(15, 20px);
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    grid-template-rows: repeat(10, 35px);
    grid-template-columns: repeat(15, 35px);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    grid-template-rows: repeat(10, 42px);
    grid-template-columns: repeat(15, 42px);
  }
}

@media (min-width: 993px) and (max-width: 1600px) {
  .container {
    grid-template-rows: repeat(10, 60px);
    grid-template-columns: repeat(15, 60px);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 4, 31);
}

.container {
  display: grid;
  background-color: rgb(11, 4, 31);
}

h1 {
  color: rgb(231, 228, 221);
  font-size: 2em;
  font-family: "Workbench", sans-serif;
  text-align: center;
}

.btn {
  border-radius: 10%;
  border: 1px solid wheat;
  padding: 0;
  background: none;
}

#red {
  background-color: #e72f24;
  grid-area: 3 / 9 / 6 / 12;
}

#blue {
  background-color: #004592;
  grid-area: 3 / 5 / 6 / 8;
}

#yellow {
  background-color: #f9d01e;
  grid-area: 7 / 5 / 10 / 8;
}

#green {
  background-color: green;
  grid-area: 7 / 9 / 10 / 12;
}

.one {
  grid-area: 1 / 1 / 3 / 16;
}

.two {
  grid-area: 3 / 1 / 11 / 5;
}

.three {
  grid-area: 3 / 8 / 11 / 9;
}

.four {
  grid-area: 3 / 12 / 11 / 16;
}
.five {
  grid-area: 6 / 5 / 7 / 12;
}

.six {
  grid-area: 10 / 5 / 11 / 12;
}

.pressed {
  background-color: wheat;
  box-shadow: 0 0 20px wheat;
  transform: scale(0.97);
}
